.choosen
  .cat-box-block
    cat-box-border(4px solid _pink)
  .cat-box-block-top
    border-right: 4px solid _pink
  .cat-block-white
    border-top: 4px solid _pink
  .cat-block-blue, .weight-ellipse
    background: _pink
.choosen-hover
  .cat-box-block
    cat-box-border(4px solid _hover_pink)
  .cat-box-block-top
    border-right: 4px solid _hover_pink
  .cat-block-white
    border-top: 4px solid _hover_pink
  .cat-block-blue, .weight-ellipse
    background: _hover_pink

