.disabled
  cursor: default;
  .cat-box-block
    cat-box-border(4px solid _grey)
    background: transparent\9;
  .cat-box-block-top
    border-right: 4px solid _grey
  .cat-block-white
    border-top: 4px solid _grey
  .cat-block-blue, .weight-ellipse
    background: _grey

  .cat-box-pretitle, .cat-box-title, .cat-box-dish, .info-block
    opacity 0.3
  .cat-box-text
    display: none
  .cat-box-disabled-text
    display: block
  .cat-image
    opacity: 0.5
