border-radius(n)
  -webkit-border-radius: n
  -moz-border-radius: n
  border-radius: n
transform(t)
  -webkit-transform: t
  -moz-transform: t
  -o-transform t
  -ms-transform t
  transform t
cat-box-border(c)
  border-right c
  border-left c
  border-bottom c
